html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
}


header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}


.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-logo img {
    width: 80px;
}


#searchPokemon {
    background-color: transparent;
}